/* Body section */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', Arial, sans-serif;
    background: linear-gradient(90deg, #F7AD28 0%, #CF3437 49.97%, #F7AD28 100%);
  }
  
  /* Header section */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: white;
    border-bottom: 5px solid black;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
  
  header button {
    background: #ff8000; 
    color: white;
    border: 8px dashed; 
    padding: 8px 16px;
    border-radius: 4px;
  }

  button:hover {
    scale: 1.2; 
  }
  
  /* Hero section */
  .hero {
    position: relative;
    text-align: center;
  }

  .hero img {
    width: 25%;
    height: auto;
    object-fit: cover;
  }
  .hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
  }

  
  /* Menu section */
  .menu {
    padding: 40px 20px;
    text-align: center;
  }

  
  .food-card {
    overflow: hidden;
  }
  
  .food-card img {
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
  }

  /* this section for the menu or anything */
  .center-box {
    background: #fff;
    border: 5px solid #ffd600;
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto;
    max-width: 600px;
    text-align: justify;
    color: black;
  }

  /* Removes background color from paragraph if present */
  .center-box p {
    background: none;
    margin: 0;
  }

  .center-box h3 {
    background: none;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
  }

  .center-box h1 {
    background: none;
    margin: 0;
    font-family: "Pinyon Script", cursive;
  }

  /* Location box */
  .location-box {
    background: #fff; /* Pure white for contrast */
    border: 5px solid #ffd600;
    border-radius: 12px;
    padding: 24px 32px;
    margin: 24px auto;
    max-width: 600px;
    color: #333;
    text-align: justify;
  }

  
  /* Footer */
  footer {
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .social img {
    width: 30px;
    margin: 0 10px;
  }

  .logo {
    padding-left: 650px;
  }

