/* RESET DEFAULTS */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', Arial, sans-serif;
    background-image: url(logos/oraaange.jpg);
  }
  
  /* HEADER STYLES */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: white;
    border-bottom: 5px solid black;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
  
  header button {
    background: #ff8000; /* KFC's red */
    color: white;
    border: 8px dashed; /* KFC's red */
    padding: 8px 16px;
    border-radius: 4px;
  }

  button:hover {
    scale: 1.2; /* Darker shade for hover */
  }
  
  /* HERO SECTION */
  .hero {
    position: relative;
    text-align: center;
  }

  .hero img {
    width: 25%;
    height: auto;
    object-fit: cover;
  }
  .hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
  }
  
  /* MENU SECTION */
  .menu {
    padding: 40px 20px;
    text-align: center;
  }

  
  .food-card {
    overflow: hidden;
  }
  
  .food-card img {
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
  }
  
  /* FOOTER */
  footer {
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .social img {
    width: 30px;
    margin: 0 10px;
  }

  .logo {
    padding-left: 650px;
  }


.location-box {
  background: #fff; /* Pure white for contrast */
  border: 5px solid #ffd600;
  border-radius: 12px;
  padding: 24px 32px;
  margin: 24px auto;
  max-width: 600px;
  color: #333;
  text-align: justify;
}

/* Removes background color from paragraph if present */
.location-box p {
  background: none;
  margin: 0;
}

.location-box h3 {
  background: none;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.location-box h1 {
  background: none;
  margin: 0;
  font-family: "Pinyon Script", cursive;
}